<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>VIP-Zal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href = "../static/css/style.css"/>
</head>
    <body>
        <div th:replace="fragments :: header"></div>
        <br>

        <table id="index-table" cellspacing="0">
            <tr>
                <td>
                    <div>
                        <h3>О ВИП-зале</h3>
                        <p>
                            В нашем спортзале Вы сможете просмотреть своё расписание тренеровок которое Вам лично составил
                            тренер-профиссионал. Наши тренера высоко-специализированные люди, которые любят свой труд
                            и с Вами будут заниматься с удовольствие и радостью.
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>Акция!</h3>
                        <p>
                            Купив абонемент на месяц Вы сможите получить скидку на 25% в честь открытия зала!
                            <br>
                            Спешите! Акция действует до N числа текущего месяца!
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>Наши тренера</h3>
                        <table id="table-data" cellspacing="0">
                            <tr>
                                <th>
                                    ФИО
                                </th>
                                <th>
                                    Номер телефона
                                </th>
                                <th>
                                    Почта
                                </th>
                                <th>
                                    Провёл занятий
                                </th>
                            </tr>
                            <tr th:each="data : ${trainersList}">
                                <td>
                                    <span th:text="*{data.getFIO()}"></span>
                                </td>
                                <td>
                                    <span th:text="*{data.getPhone()}"></span>
                                </td>
                                <td>
                                    <span th:text="*{data.getEmail()}"></span>
                                </td>
                                <td>
                                    <span th:text="*{data.getNumClass()}"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <div th:replace="~{fragments :: footer}"> </div>
    </body>
</html>